/* General Page Setup */
body {
    padding: 2em;
    margin: 0;
    width: 90%;
    text-align: center;
}

h1 {
    text-align: center;
    text-decoration: underline black 2px;
    font-size: 3em;
}

/* Specific element stuff below*/

.loginContainer {
    border: 0.0625em solid rgb(0, 0, 0);
    margin: auto;
    width: 31.125rem;
    background-color: rgb(232, 232, 232);
    /* ADJUST THE CONTAINER SO IT'S IN THE CENTER OF THE PAGE */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userNameContainer,
.passContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.userNameContainer,
.passContainer,
.loginButtons {
    /* ADJUST THE TEXT AND INPUT BOXES SO THEY ARE CENTERED WITHIN THE DIV. LOOK INTO POSITION PROPERTY. */
    transform: scale(1.5);
    margin: 1.75rem;
}

/* button styling */
.loginButtons {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
input[type="button"] {
    cursor: pointer;
    background-color: rgb(74, 184, 236);
    color: white;
    border-radius: 10px;
    border-style: solid;
    width: fit-content;
    padding: 0.25rem 0.4rem;
    margin: 0 1rem;
}

input[type="button"]:hover {
    opacity: 0.8;
}