/* General Page Setup */

body,
main{
    padding: 2em;
    margin: 0;
}

h1 {
    text-align: center;
}

/* Specific element stuff */
.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 0.0625em solid rgb(105, 103, 103);

}


